@model IEnumerable<EmployeeManager.Models.QueueModel>
@{
    ViewData["Title"] = "Manage Task Queue";
}

<style>

    #listtable {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #listtable td, #listtable th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #listtable tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #listtable tr:hover {
            background-color: #ddd;
        }

        #listtable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }


    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }



    .button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: inherit;
    }

    .button2 { /* Blue */
        background-color: #008CBA;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: inherit;
    }

    .button3 { /* Red */
        background-color: #f44336;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: inherit;
    }

    .button4 { /* Orange */
        background-color: darkorange;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: inherit;
    }

    div {
        border-radius: 5px;
    }
</style>
<script type="text/javascript">



    ShowAdd = function () {
        
        var child = window.open('/Queue/Add', "Add Task to Queue", 'width=780px,height=380px,top=150,left=250');
        var timer = setInterval(checkChild, 500);

        function checkChild() {
            if (child.closed) {
                window.location.reload(true);
                clearInterval(timer);
            }
        }
    }


    ShowEdit = function (QueueId) {
        
        var child = window.open('/Queue/Edit?id=' + QueueId, "Edit Queued Task", 'width=780px,height=380px,top=150,left=250');
        var timer = setInterval(checkChild, 500);

        function checkChild() {
            if (child.closed) {
                window.location.reload(true);
                clearInterval(timer);
            }
        }
    }

    StartQueue = function (QueueId) {
       
        var child = window.open('/Queue/StartQueue?id=' + QueueId, "Edit Queue", 'width=100px,height=100px,top=150,left=150');
        var timer = setInterval(checkChild, 500);

        function checkChild() {
            if (child.closed) {
                window.location.reload(true);
                clearInterval(timer);
            }
        }
    }

    CompleteItem = function (QueueId) {


        var child = window.open('/Queue/CompleteQueue?id=' + QueueId, "Complete Queued Task", 'width=100px,height=100px,top=150,left=150');
        var timer = setInterval(checkChild, 500);

        function checkChild() {
            if (child.closed) {
                window.location.reload(true);
                clearInterval(timer);
            }
        }
    }

    DeleteQueue = function (QueueId) {

        var child = window.open('/Queue/Delete?id=' + QueueId, "Edit Employee", 'width=100px,height=100px,top=125,left=250');
        var timer = setInterval(checkChild, 500);

        function checkChild() {
            if (child.closed) {
                window.location.reload(true);
                clearInterval(timer);
            }
        }
    }



</script>


<table width="100%">
    <tr>
        <td>
            <h3>@ViewData["Title"]</h3>
            <strong>@ViewData["Message"]</strong>
        </td>
        <td align="right"><input type="button" class="button" id="btn_AddNew" value="Add Task to Queue" onclick="ShowAdd();" /></td>
    </tr>
</table>
<hr />
<table width="100%" border="1" id="listtable">
    <tr>
        <th>Queue ID</th>
        <th>Assigned Employee</th>
        <th>Task</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {


        <tr id="row_@item.QueueId">
            <td>

                @item.QueueId
            </td>

            <td>
                (@item.Employee.EmployeeId) @item.Employee.Fullname
            </td>
            <td>
                (@item.Task.TaskId) @item.Task.Title <br />
                @item.Task.Description
            </td>

            <td>
                <input type="button" Class="button" id="btnsta_@item.QueueId" name="btnsta_@item.QueueId" value="Start Task" onclick="StartQueue(@item.QueueId);" />
                <input type="button" class="button4" id="btncom_@item.QueueId" name="btncom_@item.QueueId" value="Complete" onclick="CompleteItem(@item.QueueId);" />
                <input type="button" class="button2" id="btn_@item.QueueId" value="Edit" onclick="ShowEdit(@item.QueueId);" />
                <input type="button" class="button3" id="btn_@item.QueueId" value="Delete" onclick="DeleteQueue(@item.QueueId);" />
            </td>
        </tr>
    }

</table>


