@model EmployeeManager.Models.RoleModel
@{
    ViewData["Title"] = "Edit Role";
}
<table width="100%">
    <tr>
        <td>
            <h3>@ViewData["Title"]</h3>
            <strong>@ViewData["Message"]</strong>
        </td>
        <td></td>
    </tr>
</table>
<hr />
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>
<script type="text/javascript">
    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd-M-yy'
        });

    });

</script>

@using (Html.BeginForm("EditRole", "Role", FormMethod.Post))
{
    @Html.HiddenFor(m => m.RoleId);
    <table width="100%" cellpadding="2" cellspacing="3">
        <tr>
            <td colspan="2">
                <strong>Description</strong><br />
                @Html.TextBoxFor(m => m.Description, new { htmlAttributes = new { @class = "form-control"
                } })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>Rate</strong><br />
                @Html.TextBoxFor(m => m.Rate, new { htmlAttributes = new { @class =
                "form-control" } })
            </td>
        </tr>
       
    </table>

    <p>
        <input type="submit" name="Submit" value="Save Role">
    </p>

}








