@model EmployeeManager.Models.EmployeeModel

@{
    ViewData["Title"] = "Add New Employee";
}

<table width="100%">
    <tr>
        <td>
            <h3>@ViewData["Title"]</h3>
            <strong>@ViewData["Message"]</strong>
        </td>
        <td align="right"><div style="width:150px;"><input type="file" name="postedFile" class="custom-file-input" /></div></td>
    </tr>
</table>
<hr />


<style>

    .custom-file-input {
        color: transparent;
    }

        .custom-file-input::-webkit-file-upload-button {
            visibility: hidden;
        }

        .custom-file-input::before {
            content: 'Add Profile Photo';
            color: black;
            display: inline-block;
            background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
            border: 1px solid #999;
            border-radius: 3px;
            padding: 5px 8px;
            outline: none;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            text-shadow: 1px 1px #fff;
            font-weight: 700;
            font-size: 10pt;
        }

        .custom-file-input:hover::before {
            border-color: black;
        }

        .custom-file-input:active {
            outline: 0;
        }

            .custom-file-input:active::before {
                background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
            }

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    div {
        border-radius: 5px;
        padding: 20px;
    }
</style>
<script type="text/javascript">
    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd-M-yy'
        });

    });

</script>

@using (Html.BeginForm("AddEmployee", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<table width="100%" cellpadding="2" cellspacing="3">
    <tr>
        <td colspan="2">
            <strong>Name</strong><br />

            @Html.TextBoxFor(m => m.Name, new { htmlAttributes = new { @class = "form-control"
            } })
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <strong>Last Name</strong><br />
            @Html.TextBoxFor(m => m.Lastname, new { htmlAttributes = new { @class =
            "form-control" } })
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <strong>ID Number</strong><br />
            @Html.TextBoxFor(m => m.IDNumber, new { htmlAttributes = new { @class =
            "form-control" } })
        </td>
    </tr>
    <tr>
        <td colspan="2" valign="top">
            <strong>Address</strong><br />
            @Html.TextAreaFor(m => m.Address,10,100, new { htmlAttributes = new { @class
            = "form-control" } })
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <strong>Phone</strong><br />
            @Html.TextBoxFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control"
            } })
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <strong>Employee Role</strong><br />
            @Html.DropDownListFor(m => m.Level, new SelectList(Model.Roles, "RoleId", "Description", Model.Level))
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <strong>Rate</strong><br />
            @Html.TextBoxFor(m => m.Rate, new { htmlAttributes = new { @class = "form-control"
            } })
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <strong>Email</strong><br />
            @Html.TextBoxFor(m => m.Username, new { htmlAttributes = new { @class = "form-control"
            } })
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <strong>Password</strong><br />
            @Html.TextBoxFor(m => m.Password, new { htmlAttributes = new { @class = "form-control"
            } })
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <strong>Administrator</strong><br />
            @Html.CheckBoxFor(m => m.IsAdmin, new { htmlAttributes = new { @class = "form-control"
            } })
        </td>
    </tr>
</table>


           

    <p>
        <input type="submit" name="Submit" value="Save Employee">
    </p>

}



