@model EmployeeManager.Models.ReportModel

@{
    ViewData["Title"] = "Hours Worked Report";
}

<table width="100%">
    <tr>
        <td>
            <h3>@ViewData["Title"]</h3>
            <strong>@ViewData["Message"]</strong>
        </td>
        <td></td>
    </tr>
</table>
<hr />

<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    div {
        border-radius: 5px;
        padding: 20px;
    }
</style>
<script type="text/javascript">
    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd-M-yy'
        });

    });

</script>
@using (Html.BeginForm("RunReport", "Report", FormMethod.Post))
{
<table width="100%" cellpadding="2" cellspacing="3">
    @if (Model.IsAdmin)
    {
        <tr>
            <td colspan="2">
                <strong>Employee</strong><br />
                @Html.DropDownListFor(m => m.EmployeeId, new SelectList(Model.Employees, "EmployeeId", "Fullname", Model.EmployeeId))
            </td>
        </tr>
    }


    <tr>
        <td>
            <strong>Start Date</strong><br />

            @Html.EditorFor(m => m.ReportStartDate, new { htmlAttributes = new { @class = "form-control datepicker"
            } })
        </td>
        <td>
            <strong>End Date</strong><br />

            @Html.EditorFor(m => m.ReportEndDate, new { htmlAttributes = new { @class = "form-control datepicker"
            } })
        </td>
    </tr>

</table>

<p>
    <input type="submit" name="Submit" value="Generate Report">
</p>

}



