@model EmployeeManager.Models.TaskModel
@{
    ViewData["Title"] = "Edit Task";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["ID"]</h3>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd-M-yy'
        });

    });

</script>

@using (Html.BeginForm("EditPost", "Task", FormMethod.Post))
{

    <p>
        Task ID<br>
        @Html.TextBoxFor(m => m.TaskId)
    </p>

    <p>
        Title<br>
        @Html.TextBoxFor(m => m.Title)
    </p>
    <p>
        Description<br>
        @Html.TextBoxFor(m => m.Description)
    </p>
    <p>
        Status<br>
        @Html.TextBoxFor(m => m.Status)
    </p>
    <p>
        Start Date<br>
        @Html.EditorFor(m => m.StartDate,
 new { htmlAttributes = new { @class = "form-control date-picker" } })
    </p>
    <p>
        Create Date<br>
        @Html.EditorFor(m => m.DateCreated,
 new { htmlAttributes = new { @class = "form-control date-picker" } })
    </p>
    <p>
        Completed Date<br>
        @Html.EditorFor(m => m.DateCompleted,
 new { htmlAttributes = new { @class = "form-control date-picker" } })
    </p>
    <p>
        <input type="submit" name="Submit" value="Save Task">
    </p>

}








